<div class="w3-container" >
    <div class="w3-container w3-quarter filters">
        <app-filters></app-filters>
    </div>
    <div class="w3-container w3-twothird">
        <br><h1>Ambulence</h1>
        <hr>
        <button onclick="prompt('Enter Location: ')" class="w3-btn w3-rounded-3">Select Location&nbsp;<i class="fa fa-map"></i></button>
        <!-- <input class="w3-margin-left" id="search" type="text" placeholder="Search ambulences"> -->
        <!-- <button class="w3-btn"><i class="fa fa-search"></i></button> -->
        <div class="w3-container" hidden>
            <h3>No Ambulences nearby!!</h3>
        </div>
        <div class="w3-container" >
            <div class="w3-card-2 w3-xxlarge cards" *ngFor="let doctor of doctors">
                <div class="w3-container" >
                    <img class="w3-third" src="{{ doctor.avatar }}" alt="Image" class="w3-left" style="width:20%;">
                    <div class="w3-container w3-twothird" style="width: 75%; overflow:hidden">
                        <h3>{{doctor.first_name}}&nbsp;{{doctor.last_name}}</h3>
                        <h6>{{doctor.email}}</h6>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>