<nav class="navbar .navbar-expand{-sm|-md|-lg|-xl|-xxl} navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand w3-text-blue" href="#">Vitality</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon w3-blue w3-round-large"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" (click)="print()" class="btn w3-text-white" data-toggle="modal" data-target="" id="rateUs">Logged in as&nbsp;{{this.user}}&nbsp;</button>
          </li>
          <li class="nav-item">
            <button type="button" routerLink="" class="btn w3-text-blue active" data-toggle="modal" data-target="">Home</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn w3-text-blue" data-toggle="modal" data-target="">About</button>
          </li>
          <li class="nav-item">
            <button type="button" onClick='window.location="#contact"' class="btn w3-text-blue" data-toggle="modal" data-target="">Contact Us</button>
          </li>
          <li class="nav-item" *ngIf="this.showLogin">
            <button type="button" class="btn w3-text-blue" data-toggle="modal" data-target="#loginModal" id="login">Login</button>
          </li>
          <li class="nav-item" *ngIf="this.showSignup">
            <button type="button" class="btn w3-text-blue" data-toggle="modal" data-target="#signupModal" id="signup">Sign Up</button>
          </li>
          <li class="nav-item">
            <button type="button" onClick='window.location="#review"' (click)="toggle()" class="btn w3-text-blue" data-toggle="modal" data-target="" id="rateUs">Rate Us</button>
          </li>
          <li class="nav-item" *ngIf="this.showLogout">
            <button type="button" class="btn w3-text-blue" (click)="logout()" data-toggle="modal" data-target="" id="logout">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>